*{
	text-align: center;
	font-family: tahoma;
}
.pcabecalho{
	width: 100%;
	height: 182px;
	background-color: white;

}
.pcorpo{

	width: 100%;
	height: 100%;
	display: inline-flex;

}
.box{

	padding-top: 10%;
	display: flex;
	flex-flow: column;	
	width: 300px;
	height: 300px;
	background-color: white;
	border-radius: 2%;
	border: 1px solid gray;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.10),
  0px 5px 20px rgba(0,0,0,0.5),
  0px 5px 20px rgba(0,0,0,0.5),
  0px 5px 20px rgba(0,0,0,0.5);
		margin-top: 0%;
		
	
	
}

.pfooter{
	width: 100%;
	height: 60px;
	background-color: #E8E8E8;
	margin-top: 6%;
}
.tabela{
	margin: 0 auto;
}
.ltabela{
	border-left: 2px solid gray;
}

.alinhamento{
	width: 630px;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
  max-width: 800px;
 	justify-content: space-between;

}

.box2 , .box3{
	margin-top: 6%;
}


.box:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.icon{
	flex:50%;
	justify-self: center;
	height: 150px;

}
.nomes{
	text-align: center;
	margin-top: 10px;
	font-family: tahoma;
	font-size: 22px;
	font-weight: bold;

}
.seta{

	margin-top: 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 30%;
}
.box4{

	margin: 40px auto;
	width: 70%;
}
.botoes, .botoes1, .comprar{
	width: 100%;
	border-radius: 1%;
	background-color: white;
	display: flex;
	flex-flow: column;	
}

.botoes1{
	width: 80%;
	float: left;
}
.comprar, .quantidade{
	width: 20%;
	height: 64.5px;
	background-color: white;
}
.carrinho{
	width: 40%;
	height: 40%;
	margin: 0 auto;
}
.preco{
	margin-top: 7%;
	color: #436EEE;

}

.carrosel{
	width: 70%;
	margin: 0 auto;
	padding: 20px;
}
.informacoes{
	padding: 20px;
}
.reputacao{
	width: 20%;
	height: 20%;
}